

@import url(./style.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*style navigation start*/
.navbar-brand{
    font-size: 2rem;
}
.header_area.main_menu.navbar.navbar-brand {
    padding: 0 4rem 0 5rem;
}
.header_area.main_menu.navbar {
    padding: 1rem 20rem;
}
#navbarNav {
    justify-content: right;
}
.header_area .main_menu .nav-item .nav-link {
    font-family: "Indie Flower", cursive;
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: rgb(0, 0, 0);
    text-shadow: white;
    text-shadow: 3px;
}
.header_area .main_menu .navbar-nav .active a {
    color: rgb(0, 0, 6);
}
.header_area .main_menu .navbar-nav a:hover{
    color: rgb(255, 255, 255);
    animation:2s 2s 1s 1s linear ;
    animation-name: inherit;
}
/* +*********end+******* +*/
.btn {
	/* background: #2b048e; */
    background-image: linear-gradient(to top,#0961dc 0%,#6f4bff 100%);
	font-family: "Indie Flower", cursive;
	border-radius: 15px;
	color: #000000;
	font-size: 20px;
	padding: 3px 15px 3px 15px;
    border: none;
	text-decoration: none;
}
.btn:hover{
    box-shadow: 2px 2px 6px #000000,-2px -2px 6px #000000;
} 
body {
    background-image: linear-gradient(to top,#d1d9fd 0%,rgb(255, 223, 203) 100%);
}
.lead {
    font-family: "Indie Flower";
    color: #000000;
    font-weight: 100;
}
.title-text {
    color: #000000;
    font-weight: 500;
}
#skillinfo {
    font-family: "Indie Flower";
    color: #000000;
    font-weight: 250;
}
.my_skills p {
    font-family: "Indie Flower";
    color: #000000;
    font-weight: 250;
}
.core_skills p{
    font-family: "Indie Flower";
    color: #000000;
    font-weight: 250;
}
.text-body-emphasis {
    font-family: "Indie Flower";
}